:root {
    --black: #000000;
    --black-10: rgb(0 0 0 / 10%);
    --black-25: rgb(0 0 0 / 25%);
    --black-50: rgb(0 0 0 / 50%);
    --black-75: rgb(0 0 0 / 75%);
    --white: #ffffff;
    --white-50: rgb(255 255 255 / 50%);
    --white-75: rgb(255 255 255 / 75%);
    --white-80: rgb(255 255 255 / 80%);
    --white-85: rgb(255 255 255 / 80%);
    --error: #f00;
    --midnight-color: #0A0A1E;
    --midnight-50: rgb(10 10 30 / 50%);
    --midnight-75: rgb(10 10 30 / 75%);
    --electric-color: #00D2E1;
    --light-gray-color: #F3F3F4;
    --slate-color: #3C3C46;
    --link-color: #00D2E1;
}