
.default-banner-bg iframe, .default-banner-bg video{width: 100%; height: 100%; object-fit: cover;}
.product-xk-main{position: absolute;}
.product-waves{width: 100%; height: 100%; left: 50%; top: 50%; transform: translate(-50%, -50%); background-image: url('./images/xk-radar-sphere.svg'); background-repeat: no-repeat; background-size: contain; position: absolute; z-index: 1;}
.xk-device{width: 414px; height: 419px; margin: 0 auto; filter: drop-shadow(-40px 40px 40px rgba(10, 10, 30, 0.25)); background-image: url('./images/xk-device.svg'); background-repeat: no-repeat; background-size: contain; background-position: center; display: block;}
.default-banner-line{background-color: var(--electric-color); position: absolute;}

.default-banner-text{font-size: 18px; line-height: 26px; background-color: var(--white-85); backdrop-filter: blur(6px); -webkit-backdrop-filter: blur(6px); color: var(--midnight-color); letter-spacing: -0.36px;} 
.default-banner-text h1{font-size: 40px; line-height: 48px; margin-bottom: 33px;}
.default-banner-text p:not(:last-child){margin-bottom: 34px;}
.default-banner-text span.optional-text{margin-bottom: 30px;}

/* media css starts here */
@media only screen and (min-width: 768px){
    body.page-template-solutions .default-banner-text h1{font-size: 32px; line-height: 40px;}
}
@media only screen and (min-width: 1024px){
    .product-xk-main{top: 50%; transform: translateY(-50%); right: -295px; width: 590px; height: 590px;}
    .default-banner-bg{min-height: 810px;}
    .default-banner-bg iframe, .default-banner-bg video{min-height: 810px;}
    .default-banner-bg img{max-height: 810px; overflow: hidden; min-height: 810px;} 
    .default-banner-pos{ left: 0; right: 0; top: 50%; width: 100%; position: absolute; transform: translateY(-50%); }
    .default-banner-main{padding: 87px 0;}
    .default-banner-line{width: 1px; height: 100%; left: -23px; bottom: 0;}
    .default-banner-text{max-width: 520px; padding: 63px 64px 64px; }
    .content-gate-page .default-banner-text h1{font-size: 32px; line-height: 40px; margin-bottom: 35px;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .default-banner-line{left: -30px;}
    .default-banner-text{margin-left: 30px; padding: 32px; max-width: 500px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .default-banner-bg iframe, .default-banner-bg video{min-height: 432px;}
    .product-xk-main{top: -92px; right: -134px; width: 332px; height: 332px;}
    .xk-device{width: 235px; height: 232px;}
    .default-banner-main{margin-top: -64px;}
    .default-banner-line{width: 100%; height: 1px; left: 0; top: -24px;}
    .default-banner-text{padding: 18px 20px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .default-banner-bg{min-height: 375px; position: relative;}
    .default-banner-bg iframe, .default-banner-bg video{min-height: 375px;}
    .product-xk-main{top: -92px; right: -134px; width: 332px; height: 332px;}
    .xk-device{width: 235px; height: 232px;}
    .default-banner-main{margin-top: -64px;}
    .default-banner-line{width: 100%; height: 1px; left: 0; top: -24px;}
    .default-banner-text{padding: 18px 20px;}
    .default-banner-text h1{font-size: 32px; line-height: 40px; margin-bottom: 33px;}
    .default-banner-text p:not(:last-child){margin-bottom: 33px;}
}
@media only screen and (max-width: 370px) and (min-width: 200px){
    .default-banner-text h1{font-size: 24px; line-height: 28px;}
    .default-banner-text h1 span::after { height: 15px; bottom: -2px; }
}



