

.expertise-main{padding: 80px 0;}
.expertise-text{font-size: 14px; line-height: 22px; color: var(--midnight-color);}
.number{margin-bottom: 21px; font-size: 96px; line-height: 96px; filter: drop-shadow(2px 2px 0 #00f0ff); color: transparent; -webkit-text-stroke-color: var(--midnight-color); -webkit-text-stroke-width: 1px; display: block; }
.expertise-heading{margin-bottom: 16px; font-size: 24px; line-height: 28px; color: var(--midnight-color); display: block;}
.expertise-text p{margin-bottom: 14px;}

body.product-page .expertise-section{background-color: var(--light-gray-color);}
/* media css starts here */
@media only screen and (min-width: 1024px){
    .expertise-head{gap: 250px; margin-bottom: 52px;}
    .expertise-title{flex: 0 0 calc(100% - 435px);}
    .expertise-btn{flex: 0 0 185px; padding-top: 3px; text-align: right;}
    .expertise-row{gap: 72px 32px;}
    .expertise-list{flex: 0 0 calc(33.3333% - 22px);}

    body.product-page .expertise-head{gap: 220px;}
    body.product-page .expertise-title{flex: 0 0 calc(100% - 414px);}
    body.product-page .expertise-btn{flex: 0 0 194px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){ 

     .expertise-btn{margin-bottom: 64px;}
     .expertise-row{gap: 72px 32px;}
     .expertise-list{flex: 0 0 calc(50% - 16px);}
     .expertise-title h2{margin-bottom: 40px;}

}











