
.footer-main{background-color: var(--midnight-color); color: var(--white); z-index: 9; position: relative;}
.footer{padding: 80px 0;}
.footer-logo a{width: 100%; display: inline-block;}
.footer-logo a img{max-width: 297px; width: 100%; object-fit: cover;}
.footer-desc{font-size: 1.25rem; line-height: 2rem;}
ul.copyright-links{margin: 0;}
ul.copyright-links li{margin: 0;}
ul.copyright-links li::before{display: none;}
ul.copyright-links li a{font-size: 0.75rem; line-height: 0.875rem; color: var(--white-50); display: inline-block;}
ul.copyright-links li a:hover{color: var(--electric-color);}
ul.copyright-links li.button > a{color: var(--electric-color); font-size: 0.875rem; line-height: 1.125rem;}
ul.copyright-links li.button:hover > a{color: var(--midnight-color);}
.copyrights{font-size: 0.75rem; line-height: 1.25rem; letter-spacing: -0.02em;}
.copyrights-text{font-size: 0.75rem; line-height: 1.25rem; color: var(--white-80); font-family: 'Gotham-Medium', sans-serif;}
ul.footer-links{margin: 0;}
ul.footer-links > li::before{display: none;}
ul.footer-links > li{margin-bottom: 24px;}
ul.footer-links > li > a{color: var(--white); font-size: 1rem; line-height: 1.5; gap: 16px; align-items: flex-start; display: flex; flex-wrap: wrap;}
ul.footer-links > li > a:hover{color: var(--electric-color);}
ul.footer-links > li span{flex: 1;}
ul.footer-links > li > a > img.menu-image{width: 25px; padding: 0;}
ul.footer-links > li > a > span.menu-image-title{flex: 1; padding: 0;}
.footer-icon{width: 25px; flex: 0 0 25px;}
.footer-list span.optional-text{font-size: 0.75rem; line-height: 0.875rem; margin-bottom: 27px;} 

/*-- media css starts here --*/
@media only screen and (min-width: 1300px){
    .footer{gap: 0 136px;;}
    .footer-left{flex: 0 0 600px;}
    .footer-right{flex: 0 0 calc(100% - 736px); gap: 17px;}
    .footer-list{flex: 0 0 calc(50% - 20px);}
    .footer-logo{margin-bottom: 77px;}
    .footer-desc{margin-bottom: 80px; font-size: 1.5rem; line-height: 2.25rem;}
    ul.copyright-links{margin: 0 0 80px; gap: 20px 49px;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .footer{gap: 60px;}
    .footer-left{flex: 0 0 450px;}
    .footer-right{flex: 0 0 calc(100% - 510px); gap: 20px;}
    .footer-list{flex: 0 0 calc(50% - 10px);}
    .footer-logo{margin-bottom: 40px;}
    .footer-desc{margin-bottom: 40px;}
    ul.copyright-links{margin: 0 0 40px; gap: 20px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .footer{padding: 60px 0 59px; display: block;}
    .footer-logo{margin-bottom: 38px;}
    .footer-left{margin-bottom: 39px;}
    .footer-right{gap: 50px; margin-bottom: 30px;}
    .footer-list{flex: 0 0 calc(50% - 25px);}
    ul.copyright-links{margin: 0 0 40px; gap: 20px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .footer{padding: 40px 0 39px; display: block;}
    .footer-logo{margin-bottom: 38px;}
    .footer-left{margin-bottom: 39px;}
    .footer-right{display: block;}
    .footer-list{margin-bottom: 39px;}
    ul.footer-links > li{margin-bottom: 22px;}
    ul.copyright-links{gap: 24px; margin-bottom: 30px; text-align: center;}
    ul.copyright-links li:first-child{flex: 0 0 100%;}
    ul.copyright-links li .button{width: 100%;}
    ul.copyright-links li{flex: 1;}
    .copyrights-text{text-align: center;}
}
@media only screen and (max-width: 370px) and (min-width: 200px){
    ul.copyright-links{gap: 20px;}
}
