
.partners-form-main{padding: 64px; border: solid 12px #e5fdff;}
.partners-text p{line-height: 1.5; color: var(--midnight-color);}

.partners-form-person{margin-top: 57px;}
.partners-person-thumb{width: 113px; border-right: solid 1px var(--electric-color);}
.partners-image{width: 88px;}
.partners-person-detail{width: calc(100% - 113px); padding-left: 24px;}
.partners-person-name{margin-bottom: 7px;}
.partners-person-name h6{font-size: 18px; line-height: 1.22; margin-bottom: 0;}
.partners-person-name span{color: rgba(10, 10, 30, 0.5); margin-top: -2px; display: block;}
ul.partners-person-contact{margin: 0;}
ul.partners-person-contact li{margin: 0 0 2px 0; line-height: 1.57;}
ul.partners-person-contact li::before{display: none;}
ul.partners-person-contact li a{font-size: 14px; letter-spacing: -0.28px; color: var(--midnight-color); font-weight: 500; font-family: Gotham;}
ul.partners-person-contact li a:hover{color: var(--electric-color);}
.partners-icon{margin-right: 8px;}


@media screen and (min-width: 1024px) {
    .partners-form-wrap{padding: 60px 0;}
    .partners-text{flex: 0 0 352px; margin-right: 80px;}
    .partners-form{flex: 0 0 calc(100% - 432px);}
}