
.main-header{top: 0; left: 0; width: 100%; height: auto; position: fixed; z-index: 850; background-color: var(--white);}
.fixed-header{background-color: var(--midnight-color);}
.logo a{width: 100%; display: block;}
.insights-page .main-header:not(.fixed-header){background-color: var(--light-gray-color);}
body.page-template-product .main-header:not(.fixed-header) {background-color: var(--light-gray-color); }

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .header{transition: padding 0.45s ease-in-out;}
    .logo{flex: 0 0 295px; min-height: 32px; z-index: 1;}
    .logo a{width: 100%; height: auto; display: block;}
    .logo img{width: 100%; object-fit: contain;}
    .mobile-logo{display: none;}
    .sticky-logo{opacity: 0; visibility: hidden; z-index: -1; left: 0; top: 50%; transform: translateY(-50%); width: 32px; height: 32px; display: block; position: absolute; transition: all 0.45s ease-in-out;}
    .fixed-header .logo{flex: 0 0 32px;}
    .fixed-header .sticky-logo{opacity: 1; visibility: visible;}
    .fixed-header .normal-logo{opacity: 0; visibility: hidden;}
    nav.navigation{flex: 1; gap: 32px;}
    ul.main-menu{margin: 0; gap: 33px; padding-right: 7px; flex: 1; justify-content: flex-end;}
    ul.main-menu > li{margin: 0; padding: 29px 0 28px;}
    .fixed-header ul.main-menu > li{padding: 13px 0 12px;}
    ul.main-menu li::before{display: none;}
    ul.main-menu > li.sib > a{color: var(--midnight-25);}
    ul.main-menu > li > a{padding-bottom: 7px; color: var(--midnight-color); font-size: 14px; line-height: 22px; font-family: 'Gotham-Medium', sans-serif; display: inline-block; position: relative;}
    ul.main-menu > li > a::after{width: 0%; height: 2px; bottom: 0; left: 0; background-color: var(--electric-color); content: ""; display: block; position: absolute; transition: width 0.45s ease-in-out;}
    ul.main-menu > li:hover > a::after{width: 100%;}
    ul.main-menu > li:hover > ul{opacity: 1; visibility: visible; max-height: inherit; overflow: inherit;}
    ul.main-menu > li > ul{margin: 0; max-height: 0; overflow: hidden; padding: 12px 0; top: 100%; left: 0; width: 100%; min-width: 260px; opacity: 0; visibility: hidden; background-color: var(--light-gray-color); position: absolute; transition: all 0.45s ease-in-out;}
    ul.main-menu > li > ul > li::before{display: none;}
    ul.main-menu > li > ul > li{margin: 0;}
    ul.main-menu > li > ul > li > a{ padding: 12px 24px; display: block; font-size: 1rem; line-height: 20px; color: var(--midnight-color); font-family: "Gotham-Medium", sans-serif;}
    ul.main-menu > li > ul > li > a:hover{background-color: var(--white);}
    ul.main-menu > li > ul > li:hover > ul{opacity: 1; visibility: visible; max-height: inherit; overflow: inherit;}
    ul.main-menu > li > ul > li > ul{margin: 0; left: 100%; top: 0; min-width: 260px; max-height: 0; overflow: hidden;  opacity: 0; visibility: hidden; position: absolute; background-color: var(--light-gray-color); transition: all 0.45s ease-in-out;}
    ul.main-menu > li > ul > li > ul > li::before{display: none;}
    ul.main-menu > li > ul > li > ul > li{margin: 0;}
    ul.main-menu > li > ul > li > ul > li > a{ padding: 12px 24px; display: block; font-size: 1rem; line-height: 20px; color: var(--midnight-color); font-family: "Gotham-Medium", sans-serif;}
    ul.main-menu > li > ul > li > ul > li > a:hover{background-color: var(--white);}

    /*-- nav items nav --*/
    ul.main-menu > li.nav-item{position: static;}
    ul.main-menu > li.nav-item > ul{width: 100vw; left: 0; right: 0; top: 100%; max-width: 1440px; margin: 0 auto; padding: 0; display: flex; flex-wrap: wrap; }
    ul.main-menu > li.nav-item > ul > li::before{display: none;}
    ul.main-menu > li.nav-item > ul > li{width: 33.3333%; padding: 62px 47px 49px;}
    ul.main-menu > li.nav-item > ul > li:last-child{padding: 0;}
    ul.main-menu > li.nav-item > ul > li:first-child::after{width: 1px; height: calc(100% - 128px); right: 0; top: 64px; background-color: var(--electric-color); content: ""; display: block; position: absolute;}
    ul.main-menu > li.nav-item > ul > li > a{margin: 0 16px 16px; padding: 0; color: var(--midnight-color); font-size: 14px; line-height: 22px; letter-spacing: 0.2em; display: block; font-family: 'Gotham-Bold', sans-serif; text-transform: uppercase;}
    ul.main-menu > li.nav-item > ul > li.no_link > a{pointer-events: none; cursor: initial; background-color: transparent;}
    ul.main-menu > li.nav-item > ul > li > a:hover{background: none;}
    ul.main-menu > li.nav-item > ul > li > ul{margin: 0; max-height: inherit; opacity: 1; visibility: visible; position: static; background-color: transparent;}
    ul.main-menu > li.nav-item > ul > li > ul > li{margin: 0;}
    ul.main-menu > li.nav-item > ul > li > ul > li::before{display: none;}
    ul.main-menu > li.nav-item > ul > li > ul > li > a{padding: 16px; font-size: 12px; line-height: 20px; display: block; background-color: transparent; color: var(--midnight-color);}
    ul.main-menu > li.nav-item > ul > li > ul > li > a:hover{background-color: var(--white);}
    .nav-item{gap: 8px;}
    .nav-icon{flex: 0 0 24px; width: 24px;}
    .nav-icon img{width: 100%; object-fit: cover;}
    .nav-text{width: calc(100% - 32px); font-size: 12px; line-height: 20px;}
    ul.main-menu > li.nav-item > ul > li > ul > li > a .menu-image{float: left; width: 24px; margin-right: 8px; padding: 0;}
    .nav-heading, ul.main-menu > li.nav-item > ul > li > ul > li > a .menu-image-title{margin-bottom: 10px; padding: 0; overflow: hidden; display: block; font-size: 18px; line-height: 22px; color: var(--midnight-color); font-family: 'Gotham-Medium', sans-serif;}
    ul.main-menu > li.nav-item > ul > li > ul > li > a p{overflow: hidden; padding-left: 32px;}
    .nav-image{width: 100%; height: 100%;}
    .nav-image img{mix-blend-mode: multiply;}
    .product-nav-item .nav-image img{object-fit: contain;}
    .menu-item-pos{height: 100%;}
    ul.main-menu > li.about-nav-item > ul > li:last-child{padding: 49px 47px 49px 47px;}
    ul.main-menu > li.about-nav-item > ul > li:last-child::before{width: 1px; height: calc(100% - 106px); left: 0; top: 53px; background-color: var(--electric-color); content: ""; display: block; position: absolute; border-radius: 0;}
    .menu-item-text{max-width: 300px;}
    .menu-item-text span.optional-text{margin-bottom: 18px;}
    .menu-item-text .heading-three{margin-bottom: 23px;}
    /*-- nav items nav --*/

    .nav-right.sib{opacity: 0.25; }
    .nav-right{flex: 0 0 100px; gap: 32px; transition: opacity 0.45s ease-in-out;}
    .nav-rule{width: 1px; height: 30px; margin-right: 5px; transform: rotate(-26deg); background-color: var(--electric-color); transition: all 0.45s linear;}
    ul.nav-users{gap: 32px; flex: 1; margin: 0;}
    ul.nav-users li::before{display: none;}
    ul.nav-users > li{margin-bottom: 0;}
    ul.nav-users li a{font-size: 0; line-height: 0; color: var(--midnight-color);}
    ul.nav-users li a:hover{color: var(--link-color);}
    ul.nav-users li a span{font-size: 16px; line-height: 16px;}

    .fixed-header ul.main-menu > li > a{color: var(--white);}
    .fixed-header .nav-rule{background-color: var(--white);}
    .fixed-header ul.nav-users li a{color: var(--white);}
    .fixed-header ul.nav-users li a:hover{color: var(--electric-color);}
    .main-content{padding-top: 88px;}
    .toggle_bar{display: none;}
    ul.main-menu > li.nav-item > ul > li:last-child > a{margin: 0; height: 100%;}
    ul.main-menu > li.nav-item > ul > li:last-child > a img{width: 100%; height: 100%; object-fit: cover;}
    ul.main-menu > li.nav-item > ul > li.hide-nav-item > a{display: none;}
    ul.main-menu > li.product-nav-item > ul > li:last-child{margin: 0;}
    ul.main-menu > li.product-nav-item > ul > li:last-child > a img{mix-blend-mode: multiply; object-fit: contain;}
    ul.main-menu > li.about-nav-item > ul > li{padding: 47px 47px 49px;}
    ul.main-menu > li.about-nav-item > ul > li:first-child::after{display: none;}
}
@media only screen and (min-width: 1440px){
    ul.main-menu > li.solutions-nav-item > ul > li{width: calc(33.3333% - 10px);}
    ul.main-menu > li.solutions-nav-item > ul > li:last-child{width: 500px;}
    ul.main-menu > li.product-nav-item > ul > li{width:calc(33.3333% - 120px);}
    ul.main-menu > li.product-nav-item > ul > li:last-child{width: 720px;}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .header{gap: 12px;}
    .logo{flex: 0 0 245px;}
    ul.main-menu > li.nav-item > ul > li{width: 33.3333%; padding: 64px 30px 49px;}
}
@media only screen and (max-width: 1023px) and (min-width: 200px){
    .header{padding: 12px 0; min-height: 64px; transition: padding 0.45s ease-in-out;}
    .logo{flex: 0 0 154px;}
    .sticky-logo{display: none;}
    .fixed-header .normal-logo{display: none;}
    .fixed-header .sticky-logo{display: block;}
    .toggle_bar{flex: 0 0 calc(100% - 154px); justify-content: flex-end;}
    .nav-rule{width: 1px; height: 30px; margin-right: 38px; transform: rotate(-34deg); background-color: var(--electric-color); transition: all 0.45s linear;}

    .toggle_icon{width: 28px; margin-top: 3px; cursor: pointer; color: var(--midnight-color); font-size: 32px; line-height: 32px; transition: all 0.45s ease;}
    .toggle_icon span.line{width: 28px; height: 3px; margin-left: auto; border-radius: 0; background-color: var(--midnight-color); display: block;}
    .toggle_icon span.line2{margin-top: 7px;}
    .toggle_icon span.line3{margin-top: 7px}
    .toggle_icon.open span.line{width: 28px; margin: 4px auto; transform: rotate(45deg) translate(5px, 5px); background-color: var(--midnight-color); transition: all 0.45s ease-in-out;}
    .toggle_icon.open span.line2{opacity: 0;}
    .toggle_icon.open span.line3{transform: rotate(-45deg) translate(5px, -5px);}
    .fixed-header .toggle_icon span.line{background-color: var(--white);}
    .nav-overlay-open{overflow: hidden;}
    nav.navigation{display: block; margin-top: 64px; padding: 0 0 200px; width: 100%; height: 100%; min-height: 100vh; top: 0; left: 0; visibility: hidden; opacity: 0; transform: scale(0.75); position: fixed; background-color: var(--white); transition: all 0.45s ease-in-out; overflow-y: auto; -webkit-overflow-scrolling: touch;}
    nav.navigation.open{visibility: visible; opacity: 1; transform: scale(1);}

    ul.main-menu{margin: 0 0 20px; display: block;}
    ul.main-menu > li{margin: 0;}
    ul.main-menu > li::before{display: none;}
    ul.main-menu > li > a{padding: 18px 21px 22px;  color: var(--midnight-color); font-size: 20px; line-height: 24px; font-family: 'Gotham-Medium', sans-serif; display: block; position: relative;}
    ul.main-menu > li > a.active{background-color: var(--light-gray-color);}
    ul.main-menu > li.menu-item-has-children > a::after { right: 24px; top: 50%; transform: translateY(-50%); font-size: 24px; line-height: 24px; color: var(--electric-color); content: "\f107"; font-weight: 400; font-family: "Font Awesome 6 Sharp"; position: absolute; }
    ul.main-menu > li.menu-item-has-children > a.active::after{content: "\f106";}
    ul.main-menu > li > ul{margin: 0; display: none; padding: 25px 20px 5px; background-color: var(--midnight-color);}
    ul.main-menu > li > ul > li::before{display: none;}
    ul.main-menu > li > ul > li{margin: 0 0 37px;}

    ul.main-menu > li.nav-item > ul{margin: 0;}
    ul.main-menu > li.nav-item > ul > li:nth-last-child(2){margin-bottom: 0;}
    ul.main-menu > li.nav-item > ul > li::before{display: none;}
    ul.main-menu > li.nav-item > ul > li:last-child{display: none;}
    ul.main-menu > li.nav-item > ul > li > a{margin-bottom: 24px; color: var(--electric-color); font-size: 12px; line-height: 20px; letter-spacing: 0.2em; display: block; font-family: 'Gotham-Bold', sans-serif; text-transform: uppercase;}

    ul.main-menu > li.nav-item > ul > li > ul{margin: 0; display: block !important;}
    ul.main-menu > li.nav-item > ul > li > ul > li{margin: 0 0 23px;}
    ul.main-menu > li.nav-item > ul > li > ul > li > a{display: block; color: var(--white);}
    ul.main-menu > li.nav-item > ul > li > ul > li > a:hover{color: var(--electric-color);}
    .nav-item{gap: 16px;}
    .nav-text p{display: none;}
    ul.main-menu > li.nav-item > ul > li > ul > li > a p{display: none;}

    ul.nav-users{gap: 24px; padding: 0 20px; margin: 0;}
    ul.nav-users > li::before{display: none;}
    ul.nav-users > li{margin: 0; flex: 0 0 calc(50% - 12px);}
    ul.nav-users > li > a{padding: 8px 16px; align-items: center; display: flex; justify-content: space-between; background-color: var(--midnight-color); font-family: "Gotham-Bold", sans-serif;}
    ul.nav-users > li > a.electric, ul.nav-users > li > a:hover{background-color: var(--electric-color); color: var(--midnight-color);}
    ul.nav-users > li > a.electric:hover{background-color: var(--midnight-color); color: var(--electric-color);} 
    .main-content{padding-top: 64px;}
    ul.main-menu > li.nav-item > ul > li.hide-nav-item > a{display: none;}
}



















