
.healthcare-bg{background-image: url("./images/xk-radar-bg.svg"); background-position: no-repeat; background-size: contain;}
.healthcare-main{padding: 80px 0 80px;}
.healthcare-row{padding-top: 72px;}
.healthcare-list{padding: 32px; font-size: 14px; line-height: 22px; letter-spacing: -0.28px; color: var(--slate-color); background-color: var(--white);}
.healthcare-thumb{margin-bottom: 20px;}
.healthcare-list p{margin-bottom: 20px;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .healthcare-btnts{gap: 20px;}
    .healthcare-row{gap: 32px; margin-bottom: 24px;}
    .healthcare-list{flex: 0 0 calc(25% - 24px);}
}