
.healthcare-bg{background-image: url("./images/xk-radar-bg.svg"); background-repeat: no-repeat; background-size: cover;}
.healthcare-main{padding: 80px 0 80px;}
body.page-template-product .healthcare-row{padding: 0;}
.healthcare-list{padding: 32px; font-size: 14px; line-height: 22px; letter-spacing: -0.28px; color: var(--slate-color); background-color: var(--white);}
.healthcare-thumb{margin-bottom: 20px;}
.healthcare-list p{margin-bottom: 20px;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .healthcare-btnts{gap: 20px;}
    .healthcare-row{gap: 32px; margin-bottom: 24px; padding-top: 72px;}
    .healthcare-list{flex: 0 0 calc(25% - 24px);}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    body.page-template-product .healthcare-row{gap: 8px;}
    body.page-template-product .healthcare-list{flex: 0 0 calc(25% - 8px);}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .healthcare-row{gap: 0 20px;}
    .healthcare-list{flex: 0 0 calc(50% - 10px); margin-bottom: 20px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .healthcare-bg{background-image: url('./images/xk-radar-bg-mobile.svg');}
    .healthcare-main {padding: 40px 0;}
    .healthcare-row{padding: 0;}
    .healthcare-list{padding: 20px; margin-bottom: 32px;} 
    .healthcare-list:last-child{margin-bottom: 0;}
}