

.investment-main{padding: 80px 0;}


.investment-text{font-size: 14px; line-height: 22px; color: var(--midnight-color);}
.investment-text span.optional-text{margin-bottom: 38px;}
.investment-text h2{margin-bottom: 42px;}
.investment-text ul{margin-bottom: 41px;}
.investment-text ul li{margin-bottom: 0;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .investment-main{gap: 80px;}
    .investment-image{flex: 0 0 600px;}
    .investment-text{flex: 0 0 calc(100% - 680px);}
}














