



.more-blogs-section{background-color: var(--light-gray-color);}
.more-blogs-main{padding: 80px 0 56px;}
.more-blogs-list{background-color: var(--white);}
.more-blogs-text{padding: 33px 32px 32px; color: var(--midnight-color); font-size: 20px; line-height: 32px;}
.custom-date{margin-bottom: 20px; gap: 8px; font-size: 10px; line-height: 12px; letter-spacing: 0.2em;}
.additional-news-text .custom-date{margin-bottom: 8px;}
.date-icon{color: var(--electric-color); font-size: 12px;}
.date-icon-text{color: var(--slate-color);}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .more-blogs-title{order: 1; flex: 0 0 50%;}
    .more-blogs-row{gap: 40px; order: 3;}
    .more-blogs-list{flex: 0 0 calc(33.3333% - 27px);}
    .more-blogs-btn{order: 2; flex: 0 0 50%; text-align: right;}
}

















