
.newsletter-section{background-color: var(--light-gray-color);}
.newsletter-main{padding: 67px 0 83px; border-top: 4px solid var(--white);}
.product-teams-main .newsletter-main{padding-bottom: 0;}
.newsletter-text span.optional-text{margin-bottom: 7px;}
.newsletter-text h3{margin-bottom: 0;}
.newsletter-form .frm_forms .frm_form_fields .frm_fields_container{position: relative;}
.newsletter-form .frm_forms .frm_form_fields .frm_form_field{margin: 0;}
.newsletter-form .frm_forms .frm_form_fields .frm_form_field input { font-size: 14px; padding: 16px 40px 15px 48px; line-height: 22px; background-position: 16px 13px; background-image: url('./images/email-icon.svg'); background-repeat: no-repeat; background-size: 24px 24px; }
.newsletter-form  .frm_forms .frm_form_fields .frm_form_field input::-webkit-input-placeholder {color: var(--midnight-color); font-family: 'Gotham-Book', sans-serif;}
.newsletter-form  .frm_forms .frm_form_fields .frm_form_field input:-moz-placeholder {color: var(--midnight-color); font-family: 'Gotham-Book', sans-serif; opacity: 1; }
.newsletter-form  .frm_forms .frm_form_fields .frm_form_field input::-moz-placeholder {color: var(--midnight-color); font-family: 'Gotham-Book', sans-serif; opacity: 1;}
.newsletter-form  .frm_forms .frm_form_fields .frm_form_field input:-ms-input-placeholder {color: var(--midnight-color); font-family: 'Gotham-Book', sans-serif; opacity: 1;}

.newsletter-form .frm_forms .frm_form_fields .frm_submit{right: 0; top: 0; height: 100%; position: absolute;}
.newsletter-form .frm_forms .frm_form_fields .frm_submit button.frm_button_submit{height: 100%; text-transform: uppercase;}
.newsletter_disclaimer{margin-top: 19px; font-size: 12px; line-height: 20px; color: var(--midnight-50);}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .newsletter-main{gap: 64px;}
    .newsletter-list{flex: 0 0 calc(50% - 32px);}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .newsletter-main {gap: 17px; padding: 60px 0 40px;}
    .newsletter-list {flex: 0 0 calc(50% - 9px);}
}
@media only screen and (max-width: 1024px) and (min-width: 768px){
    .newsletter-text{margin-bottom: 40px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .newsletter-main {padding: 54px 0 40px;}
    .newsletter-text{margin-bottom: 40px;}
    .newsletter-form .frm_forms .frm_form_fields .frm_form_field input {background-position: 0; padding: 16px 40px 15px 34px;}
}










