.optional-repeater-main{padding: 40px 0;}
.optional-xk-shape { width: 515.93px; height: 396.17px; left: -258px; top: 81px; background-image: url('./images/xk-shape.svg'); background-repeat: no-repeat; background-size: contain; position: absolute; z-index: 1; }
.optional-repeater-text{font-size: 14px; line-height: 22px; letter-spacing: -0.28px;}
.optional-repeater-text h2{margin-bottom: 42px;}
.optional-repeater-text p{margin-bottom: 24px;}
ul.optional-list{margin: 0 0 24px 32px; font-size: 14px; line-height: 22px;} 
ul.optional-list li{margin-bottom: 0;}
ul.optional-list li::before{top: 10px;}
ul.optional-list:last-child{margin-bottom: 0;}

.reverse .optional-repeater-main{flex-direction: row-reverse; padding: 40px 0 80px;}
.reverse .optional-xk-shape{ left: auto; right: -258px; }

body.product-page .reverse .optional-repeater-main{padding: 56px 0 80px;}
body.product-page .optional-repeater-text span{margin-bottom: 38px;}
body.product-page .optional-repeater-text .button{margin-top: 8px;}

body.product-page  .optional-repeater-main{padding: 56px 0 80px;}

/* media css starts here */
@media only screen and (min-width: 1024px){ 
  .optional-repeater-main{gap: 80px;}
  .optional-repeater-image{flex: 0 0 600px;}
  .optional-repeater-text{flex: 0 0 calc(100% - 680px);}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
  .optional-repeater-main {gap: 50px;}
  .optional-repeater-image {flex: 0 0 450px;}
  .optional-repeater-text {flex: 0 0 calc(100% - 500px);}
  .optional-xk-shape{top: 20px;}
  .reverse .optional-xk-shape{top: 35px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
 .optional-repeater-image{margin-bottom: 40px;}
 .reverse .optional-repeater-main{padding: 40px 0;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
  .optional-repeater-text h2{font-size: 24px; line-height: 28px; margin-bottom: 24px; letter-spacing: -0.48px;}
  .optional-xk-shape { width: 310.93px; height: 383.17px; left: -157px; top: 41px; }
  .optional-repeater-image{margin-bottom: 40px;}
  .reverse .optional-repeater-main{padding: 40px 0;}
  body.product-page .reverse .optional-repeater-main {padding: 40px 0;}
  body.product-page .optional-repeater-text .button {margin-top: 8px; width: 100%;}
  body.product-page .optional-repeater-main {padding: 40px 0;}
  
}