.partners-logos-main{padding: 80px 0 56px;}
ul.partners-links{margin: 0; padding: 40px; background-image: url("./images/tabs-bg.svg"); background-repeat: no-repeat; background-size: cover;}
ul.partners-links > li::before{display: none;}
ul.partners-links > li{margin: 0;}
ul.partners-links > li > a{padding: 10px 15px; align-items: center; color: var(--midnight-color); background-color: var(--white); font-size: 18px; line-height: 22px; letter-spacing: -0.36px; font-family: 'Gotham-Medium', sans-serif;}
ul.partners-links > li > a.active, ul.partners-links > li > a:hover{background-color: var(--midnight-color); color: var(--white);}

/* media css starts here */
@media only screen and (min-width: 1024px){ 
    ul.partners-links{gap: 40px; margin-bottom: 46px;}
    ul.partners-links > li{flex: 0 0 calc(20% - 32px);}
    .partners-icon-list{flex: 0 0 calc(20% - 40px); gap: 20px;}
    .partners-icon-text{flex: 0 0 calc(100% - 44px);}
    .partners-icon{flex: 0 0 24px;}

    .partners-logos-head{gap: 0 245px; margin-bottom: 51px;}
    .partners-logos-title{flex: 0 0 calc(100% - 425px);}
    .partners-logos-btn{flex: 0 0 180px;}
    .partners-logos-title h2{margin-bottom: 0;}

    .partners-logos-row{gap: 38px 96px;}
    .partners-logos-list{flex: 0 0 calc(20% - 77px);}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
<<<<<<< HEAD
    ul.partners-links > li{flex: 0 0 calc(25% - 30px);}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    ul.partners-links{gap: 40px; margin-bottom: 46px;}
    ul.partners-links > li{flex: 0 0 calc(25% - 30px);}
}
=======
    
    

}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .partners-logos-row{gap: 20px 25px;}
    .partners-logos-list{flex: 0 0 calc(33.33% - 17px);}
}

@media only screen and (max-width: 767px) and (min-width: 375px){
    .partners-logos-main{padding: 40px 0;}
    .partners-logos-title h2{font-size: 24px; line-height: 28px; letter-spacing: -0.48px; margin-bottom: 60px;}
    .partners-logos-row{gap: 10px 50px;}
    .partners-logos-list{flex: 0 0 calc(50% - 25px);}

}


>>>>>>> db8301cda500710411495b60fac13d478e5c8f6f




