

.partnerships-text{color: var(--midnight-color); font-size: 14px; line-height: 22px;}
.partnerships-text span.optional-text{margin-bottom: 35px;}
.partnerships-text h2{margin-bottom: 44px;}
.partnerships-text .button{margin-top: 38px;}

ul.partnerships-links > li{margin: 0; gap: 16px; color: var(--midnight-color); font-size: 20px; line-height: 24px; font-family: 'Gotham-Medium', sans-serif;}
ul.partnerships-links > li::before{display: none;}
.partnerships-icon{flex: 0 0 24px; width: 24px;}
.partnerships-icon-text{flex: 0 0 calc(100% - 42px);}

/*-- media css starts here --*/
@media only screen and (min-width: 768px){
    ul.partnerships-links{margin: 0; gap: 12px 22px;}
    ul.partnerships-links > li{flex: 0 0 calc(50% - 12px);}
}
@media only screen and (min-width: 1024px){
    .partnerships-main{padding: 80px 0 80px;}
    .partnerships-text{flex: 0 0 50%; padding-right: 80px; border-right: 1px solid var(--electric-color);}
    .partnerships-logos{flex: 0 0 50%; gap: 36px 56px; padding-left: 80px;}
    .partnerships-logo{flex: 0 0 calc(33.3333% - 38px);}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .partnerships-main{padding: 40px 0;}
    .partnerships-text{padding-right: 40px;}
    .partnerships-logos{gap: 36px 56px; padding-left: 40px;}
}
@media only screen and (max-width: 1023px) and (min-width: 767px){
    .partnerships-main{padding: 40px 0; display: block;}
    .partnerships-text{padding-bottom: 40px;}
    .partnerships-logos{gap: 36px 56px;}
    .partnerships-logo{flex: 0 0 calc(33.3333% - 38px);}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .partnerships-links{gap: 14px 24px;}
    ul.partnerships-links{margin: 0;}
    ul.partnerships-links li{flex: 0 0 calc(50% - 12px);}
    .partnerships-main{padding: 26px 0 40px; display: block;}
    .partnerships-logos{gap: 24px; padding: 40px 0 54px; border-top: 1px solid var(--electric-color);}
    .partnerships-logo{flex: 0 0 calc(50% - 12px);}
    .partnerships-text .button {width: 100%; }
    .partnerships-text{margin-bottom: 40px;}
    .partnerships-text h2{font-size: 32px; line-height: 40px; letter-spacing: -0.64px; margin-bottom: 40px;}
}
@media only screen and (max-width: 370px) and (min-width: 200px){
    ul.partnerships-links{flex-direction: column;}
}














