

.product-finder-wrap{padding: 78px 0;}
.product-finder-main{padding: 96px 0 80px; background-color: var(--light-gray-color); background-repeat: no-repeat; background-size: cover;}
.product-finder-list{padding: 17px 16px; background-color: var(--white);}
.product-finder-text{border-left: 1px solid var(--electric-color); padding-left: 16px; font-size: 14px; line-height: 22px; color: var(--slate-color);}
.product-finder-text .sub-heading{margin-bottom: 0;}
.product-finder-btns .button{width: 48px; height: 48px; padding: 0; font-size: 24px; line-height: 28px; color: var(--white);}
.product-finder-btns .button.electric{color: var(--midnight-color);}
.product-finder-btns .button.electric:hover{color: var(--white);}
.product-finder-btns .button span{padding-left: 5px;}

body.product-page .product-finder-btns .product-xk300{font-size: 12px; line-height: 20px; letter-spacing: -0.28px; color: var(--slate-color); border-left: 2px solid var(--electric-color); border-right: 2px solid var(--electric-color); padding: 0 14px;}
body.product-page .product-finder-btns .product-xk300 p{margin-bottom: 0;}
body.product-page .product-finder-btns .prod-find-heading{font-size: 18px; line-height: 22px; letter-spacing: -0.36px; font-family: 'Gotham-Medium',sanserif;}


/* media css starts here */
@media only screen and (min-width: 768px){
    .product-finder-main{background-image: url("./images/xk-radar-gray-bg.svg");}
    .product-finder-head h2{font-size: 32px; line-height: 40px; margin-top: 39px;}
}
    @media only screen and (min-width: 1024px){ 
    .product-finder-head{max-width: 960px; margin: 0 auto;}
    .product-finder-list{gap: 48px; margin-bottom: 20px;}
    .product-finder-text{flex: 0 0 calc(100% - 248px);}
    .product-finder-btns{gap: 16px; flex: 0 0 200px; justify-content: flex-end;}
    .product-finder-row{max-width: 960px; margin: 0 auto; padding: 19px 0 20px;}

    body.product-page .product-finder-text{flex: 0 0 calc(100% - 308px);}
    body.product-page .product-finder-btns{gap: 48px; flex: 0 0 260px;}
    body.product-page .product-finder-wrap{padding-bottom: 0}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){

}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .product-finder-main{padding: 32px 20px 40px;}
    .product-finder-head h2{font-size: 20px; line-height: 24px;}
}





