
.property-wrap{padding: 80px 0 156px;}
.property-image{margin-bottom: 44px; overflow: hidden;}
.property-text hr{max-width: 112px;}
ul.property-links > li{margin: 0; gap: 16px; color: var(--midnight-color); font-size: 1.25rem; line-height: 1.5rem; font-family: 'Gotham-Medium', sans-serif;}
ul.property-links > li a{color: var(--midnight-color); font-family: 'Gotham-Medium', sans-serif;}
ul.property-links > li a:hover{color: var(--electric-color);}
ul.property-links > li::before{display: none;}
.property-icon{flex: 0 0 24px; width: 24px;}
.property-icon-text{flex: 0 0 calc(100% - 42px);}
.property-clone-svg svg{width: 100%; height: 100%;}
.property-estate-svg-1 svg{width: 100%; height: 100%;}
.property-estate-svg-2 svg{width: 100%; height: 100%;}

/* media css starts here */
@media only screen and (min-width: 768px){
    ul.property-links{margin: 0; gap: 11px 24px;}
    ul.property-links > li{flex: 0 0 calc(50% - 12px);}
    .property-wrap.no_heading .property-btn{padding-bottom: 83px; margin-left: auto;}
    .property-clone-svg{ width: 281px; height: 184px; top: 120px; right: -27px; transform: rotate(194deg); position: absolute; }
    .property-estate-svg-1{ width: 512px; height: 542px; top: -220px; right: -180px; position: absolute; transform: rotate(138deg); }
    .property-estate-svg-2{ width: 312px; height: 342px; top: -30px; right: 40px; position: absolute; transform: rotate(-38deg); }
}
@media only screen and (min-width: 1024px){
    .property-title{order: 1; flex: 1; padding-bottom: 83px;}
    .property-title h2{margin-bottom: 0;}
    .property-btn{order: 2; flex: 0 0 300px; padding-top: 7px; text-align: right;}
    .property-main{gap: 80px; order: 3;}
    .property-list{flex: 0 0 calc(50% - 40px);}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .property-wrap{padding: 40px 0;}
    .general-default-page .property-wrap{padding: 40px 0 80px;}
    .property-main{gap: 30px;}
    .property-list { flex: 0 0 calc(50% - 15px); }
    ul.property-links{flex-direction: column;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .property-main{display: block;}
    .property-wrap{padding-bottom: 65px; display: block;}
    .property-list{margin-bottom: 80px;}
    .property-list:last-child{margin-bottom: 40px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .property-wrap{padding: 40px 0 0; display: block;}
    .general-default-page .property-wrap{padding-bottom: 118px;}
    .property-title{padding-bottom: 19px;}
    .property-title h2{font-size: 2rem; line-height: 2.5rem;}
    .property-image {margin-bottom: 30px;}
    .property-text h2{font-size: 2rem; line-height: 2.5rem; letter-spacing: -0.64px;}
    .property-text .property-links{margin: 0 0 38px;}
    ul.property-links > li{margin-bottom: 16px;}
    ul.property-links li:last-child{margin-bottom: 0;}
}