

.product-finder-main{padding: 96px 0 80px; background-color: var(--light-gray-color); background-repeat: no-repeat; background-size: cover;}
.product-finder-list{padding: 17px 16px; background-color: var(--white); align-items: center;}
.product-finder-text{border-left: 1px solid var(--electric-color); padding-left: 16px; font-size: 0.875rem; line-height: 1.375rem; color: var(--slate-color);}
.product-finder-text .sub-heading{margin-bottom: 0;}
.product-finder-btns .button{width: 48px; height: 48px; padding: 0; font-size: 1.5rem; line-height: 1.75rem; color: var(--white);}
.product-finder-btns .button.electric{color: var(--midnight-color);}
.product-finder-btns .button.electric:hover{color: var(--white);}
.product-finder-btns .button span{padding-left: 5px;}

.product-finder-btns > span{width: 48px; height: 48px; display: inline-block;}
.product-finder-btns input[type="radio"]{width: 100%; height: 100%; background-color: var(--midnight-color); border: none; cursor: pointer; -webkit-appearance: none; appearance: none; background-repeat: no-repeat; background-position: center; }
.product-finder-btns input[type="radio"].yes{background-image: url("./images/tick.svg"); background-size: 22px 16px;}
.product-finder-btns input[type="radio"].no{background-image: url("./images/close.svg"); background-size: 16px 16px;}
.product-finder-btns input[type="radio"]:checked { background-color: var(--electric-color); }
.product-finder-btns input[type="radio"].yes:checked{background-image: url("./images/tick-black.svg");}
.product-finder-btns input[type="radio"].no:checked{background-image: url("./images/close-black.svg");}

body.page-template-product .product-finder-btns .product-xk300{font-size: 0.75rem; line-height: 1.25rem; letter-spacing: -0.28px; color: var(--slate-color); border-left: 2px solid var(--electric-color); border-right: 2px solid var(--electric-color); padding: 0 14px;}
body.page-template-product .product-finder-btns .product-xk300 p{margin-bottom: 0;}
body.page-template-product .product-finder-btns .prod-find-heading{font-size: 1.125rem; line-height: 1.375rem; letter-spacing: -0.36px; font-family: 'Gotham-Medium',sanserif;}
.product-btns input[type="submit"]{width: auto; font-weight: normal;}

/* media css starts here */
@media only screen and (min-width: 768px){
    .product-finder-main{background-image: url("./images/xk-radar-gray-bg.svg");}
    .product-finder-head h2{font-size: 2rem; line-height: 2.5rem; margin-top: 39px;}
}
@media only screen and (min-width: 1024px){ 
    .product-finder-wrap{padding: 78px 0 0;}
    .product-finder-head{max-width: 960px; margin: 0 auto;}
    .product-finder-list{gap: 48px; margin-bottom: 20px;}
    .product-finder-text{flex: 0 0 calc(100% - 248px);}
    .product-finder-btns{gap: 16px; flex: 0 0 200px; justify-content: flex-end;}
    .product-finder-row{max-width: 960px; margin: 0 auto; padding: 19px 0 20px;}

    body.page-template-product .product-finder-text{flex: 0 0 calc(100% - 308px);}
    body.page-template-product .product-finder-btns{gap: 48px; flex: 0 0 260px;}
    body.page-template-product .product-finder-wrap{padding-bottom: 0}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .product-finder-wrap{padding: 78px 0 40px;}
    .product-finder-main{padding: 74px 20px 80px;}
    .product-finder-head{margin-bottom: 43px;}
    .product-finder-row{padding-bottom: 30px;}
    .product-finder-list{gap: 48px; margin-bottom: 20px; align-items: center;}
    .product-finder-text{flex: 0 0 calc(100% - 248px);}
    .product-finder-btns{gap: 16px; flex: 0 0 200px; justify-content: flex-end;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .product-finder-wrap{padding: 40px 0 40px;}
    .product-finder-main{padding: 32px 20px 40px; background-image: url("./images/xk-radar-gray-mobile-bg.svg");}
    .product-finder-head h2{font-size: 1.25rem; line-height: 1.5rem;}
    .product-finder-row{padding-bottom: 30px;}
    .product-finder-list{display: block; margin-bottom: 20px;}
    .product-finder-list:last-child{margin-bottom: 0;}
    .product-finder-text{margin-bottom: 19px;}
    .product-finder-btns{gap: 16px;}
    .product-btns input[type="submit"]{width: 100%;}
}



