.short-intro-main{padding: 80px 0 80px;}
.short-intro-head{font-size: 16px; line-height: 32px; letter-spacing: -0.32px; color: #0a0a1e; margin-bottom: 76px;}
.short-intro-title span{margin-bottom: 44px;}
.short-intro-title h2{color: #000000; letter-spacing: -0.8px; margin-bottom: 0;}
.short-intro-desc p{padding: 11px 0;}
.short-intro-desc{padding: 0 80px;}
.short-intro-desc::before{content: ""; display: block; position: absolute; left: 0px; border: 1px solid #00d2e1; height: 100%; min-height: 214px;}
.short-intro-desc::after{content: ""; display: block; position: absolute; right: 0px; top: 0; border: 1px solid #00d2e1; height: 100%; min-height: 214px;}
.short-intro-icon{margin-bottom: 18px;}
.short-intro-text{font-size:14px ; line-height:  22px; letter-spacing: -0.28px;}
.short-intro-text p:not(:last-child){margin-bottom: 18px;}

/* media css starts here */
@media only screen and (min-width: 1024px){ 
    .short-intro-head{gap: 80px;}
    .short-intro-title{flex: 0 0 394px;}
    .short-intro-desc{flex: 0 0 calc(100% - 474px);}
    .short-intro-row{gap: 56px;}
    .short-intro-list{flex: 0 0 calc(25% - 42px);}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){ 
    .short-intro-head{gap: 60px;}
    .short-intro-desc{padding: 0 60px;}
    .short-intro-row {gap: 35px;}
    .short-intro-list{flex: 0 0 calc(25% - 27px);}

}
@media only screen and (max-width: 1023px) and (min-width: 768px){ 
    .short-intro-title{margin-bottom: 40px;}
    .short-intro-desc{padding: 0 60px;}
    .short-intro-row {gap: 42px;}
    .short-intro-list{flex: 0 0 calc(50% - 21px);}
}
@media only screen and (max-width: 767px) and (min-width: 375px){
    .short-intro-main{padding: 40px 0;}
    .short-intro-head{margin-bottom: 35px;}
    .short-intro-title{margin-bottom: 43px;}
    .short-intro-title span{margin-bottom: 22px;}
    .short-intro-desc{padding: 0 20px; font-size: 14px; line-height: 28px; letter-spacing: -0.28px;}
    .short-intro-list{margin-bottom: 50px;}
    .short-intro-list:last-child{margin-bottom: 0;}
    .short-intro-icon{margin-bottom: 15px;}

}