.solutions-text{font-size: 20px; line-height: 32px;}
.solutions-text span.optional-text{margin-bottom: 38px;}
.solutions-image-list{position: relative; overflow: hidden;}
.xk-shape-1{width: 361px; height: 387px; top: -42px; right: -104px; position: absolute;}
.xk-shape-2{transform: rotate(-48deg); top: 123px;  right: 105px; width: 312px; height: 267px; position: absolute;}
.xk-shape-2 svg{width: 100%; height: auto; object-fit: contain;}



/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .solutions-main{padding: 80px 0 120px;}
    .solutions-intro{gap: 64px;}
    .solutions-text{flex: 0 0 394px;}
    .solutions-text h2{margin-bottom: 42px;}
    .solutions-images{flex: 0 0 calc(100% - 458px); gap: 48px;}
    .solutions-image-list{flex: 0 0 calc(50% - 24px);}
    .solutions-image-1{transform: translateY(37.5px);}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .solutions-main{padding: 48px 0 80px;}
    .solutions-intro{display: block;}
    .solutions-text{margin-bottom: 33px;}
    .solutions-text span.optional-text{margin-bottom: 19px;}
    .solutions-images{flex: 0 0 calc(100% - 458px); gap: 48px;}
    .solutions-image-list{flex: 0 0 calc(50% - 24px);}
    .solutions-image-1{transform: translateY(37.5px);}
    .healthcare-btnts{gap: 20px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .solutions-main{padding: 38px 0 40px;}
    .solutions-intro{display: block;}
    .solutions-text{margin-bottom: 33px;}
    .solutions-text span.optional-text{margin-bottom: 19px;}
    .solutions-text h2{font-size: 32px; line-height: 40px; margin-bottom: 22px;}
    .solutions-images{display: block;}
    .solutions-image-list{margin-bottom: 24px;}
    .solutions-image-list:last-child{margin-bottom: 0;}
}