

.radio-wave{
    /* opacity: 0; */
    transition: all 0.5s ease-in-out;
    animation: radioWave 5s ease-in-out alternate infinite;
    animation-play-state: paused; 
    stroke-linecap: round;
	stroke-linejoin: round;
    stroke-dashoffset: 500;
}
.anim-play-state-wave .radio-wave{
    animation-play-state: running;
}
.wave-g-1{ animation-delay: 5s;}
.wave-g-2{ animation-delay: 4s; }
.wave-g-3{ animation-delay: 3s; }
.wave-g-4{ animation-delay: 2s; }
.wave-g-5{ animation-delay: 1s; }
.wave-g-6{ animation-delay: 0.5s; }
@keyframes radioWave{
    from {
        opacity: 1;
        stroke-width: 1;
    }
    to {
        opacity: 1;
        stroke-width: 1;
    }
}
.radio-wave linearGradient stop{
    animation: radioWaveStop 4s ease-in-out alternate infinite;
}
@keyframes radioWaveStop{
    from {
        stop-color: var(--electric-color);
    }
    to {
        stop-color: var(--electric-50);
    }
}
svg .clone-st0 {
	animation: cloneRotate 10s ease-in-out alternate infinite;
	stroke-linecap: round;
	stroke-linejoin: round;
	transition: 0.5s all ease;
    animation-play-state: paused; 
}
.anim-play-state-clone svg .clone-st0{
    animation-play-state: running;
}
@keyframes cloneRotate{
    0% {
        stroke-width: 0.5px;
        stroke-dasharray: 500;
        stroke-dashoffset: 1000;
        stroke: var(--electric-color);
    }
    50%{
        stroke-width: 0.5px;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        stroke: var(--white-50)
    }
    100%{
        stroke-width: 0.5px;
        stroke-dasharray: 800;
        stroke-dashoffset: 0;
        stroke: var(--electric-50);
    }
}
.big-feature-estate-svg-1 svg .clone-st0{
    animation: cloneRotate1 8s ease-in-out alternate infinite;
}
@keyframes cloneRotate1{
    0% {
        opacity: 0.25;
        stroke-width: 0.25px;
        stroke-dashoffset: 1000;
        stroke: var(--electric-color);
    }
    100%{
        opacity: 0.5;
        stroke-width: 0.5px;
        stroke-dashoffset: 0;
        stroke: var(--electric-50);
    }
}


