

.radio-wave{
    stroke-dashoffset: 500;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    animation: radioWave 5s ease-in-out alternate infinite;
    animation-play-state: paused; 
}
.anim-play-state-wave .radio-wave{
    animation-play-state: running;
}
.wave-g-1{ animation-delay: 8s;}
.wave-g-2{ animation-delay: 6s; }
.wave-g-3{ animation-delay: 4s; }
.wave-g-4{ animation-delay: 2s; }
.wave-g-5{ animation-delay: 1s; }
.wave-g-6{ animation-delay: 0.5s; }
@keyframes radioWave{
    from {
        opacity: 0;
        stroke-width: 4;
    }
    to {
        opacity: 1;
        stroke-width: 1;
    }
}
.radio-wave linearGradient stop{
    animation: radioWaveStop 4s ease-in-out alternate infinite;
}
@keyframes radioWaveStop{
    from {
        stop-color: var(--electric-color);
    }
    to {
        stop-color: var(--electric-50);
    }
}






