
.confirmation-main{padding: 80px 0;}
.confirmation-text hr{max-width: 112px;}
.confirmation-right{padding: 52px; border: 12px solid var(--light-blue);}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .confirmation-main{gap: 96px;}
    .confirmation-text{flex: 0 0 290px;}
    .confirmation-right{flex: 0 0 calc(100% - 386px);}
}


















