
.general-default-main{ font-size: 16px; line-height: 32px; color: var(--slate-color);}
.general-default-main h3{padding-left: 18px; position: relative;}
.general-default-main h3::before{width: 2px; height: 100%; top: 3px; left: 0; content: ""; display: block; position: absolute; background-color: var(--electric-color); position: absolute;}
.general-default-main h4{padding-left: 18px; position: relative;}
.general-default-main h4::before{width: 2px; height: 100%; top: 1px; left: 0; content: ""; display: block; position: absolute; background-color: var(--electric-color); position: absolute;}

.general-product-bg{background-image: url("./images/general-product-bg.svg"); background-repeat: no-repeat; background-size: cover; background-position: 100%;}
.general-product-main{background-color: var(--white);}
.general-product-list h3{padding-left: 0;}
.general-product-list h3::before{display: none;}
.general-product-text{font-size: 14px; line-height: 22px;}
.general-product-text h2{font-size: 32px; line-height: 40px;}
.post-default-content .general-product-text h2::before{display: none;}
.general-product-text ul{margin-bottom: 24px;}
.general-product-text ul li{margin-bottom: 0;}
.general-product-text ul li::before{top: 10px;}

/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .general-default-page .general-default-main{padding: 0 0 48px;}
    body.single-news_events .general-default-main{padding: 46px 0 75px;}
    body.single-news_events .general-default-main .general-product-bg{margin: 0; padding: 80px 0;}
    .general-product-bg{padding: 80px 0 112px; margin: 48px 0; }
    .general-product-list{flex: 0 0 50%;}
    .general-product-text{padding: 44px 48px 48px; border-left: 2px solid var(--electric-color);} 
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .general-product-bg{padding: 40px 20px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .general-default-main{padding: 36px 0 40px;}
    .general-product-bg{padding: 40px 20px; margin: 40px 0;}
    .general-product-main{display: block;}
    .general-product-text{padding: 20px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    body.single-news_events .general-product-bg{padding: 40px 0 92px;}
    .general-product-bg{padding: 40px 0 72px; margin: 48px 0; background-image: url("./images/general-product-mobile-bg.svg");}
    .general-product-image {border-bottom: 1px solid var(--electric-color); margin-bottom: 20px;}
    .general-product-text{padding: 0 20px;}
}















