
.financial-section{background-color: var(--light-gray-color);}
.financial-main{padding: 78px 0 80px;}
.financial-text h2{font-size: 32px; font-weight: 500; line-height: 1.25; letter-spacing: -0.64px;}
.financial-text p{line-height: 1.5; letter-spacing: -0.32px; color: var(--midnight-color);}
.financial-form-field{margin-bottom: 24px;}

.financial-qyears{padding: 24px; margin-bottom: 24px; background-image: url('./images/financial-tab-bg.svg'); background-size: cover;}
.financial-qlinks{margin: 0; justify-content: flex-end; align-items: center; gap: 20px;}
.financial-qlinks li{margin: 0;}
.financial-qlinks li::before{display: none;}
.financial-qlinks li > a{width: 56px; height: 46px; padding: 12px 16px; display: block; text-align: center; font-size: 18px; font-weight: 500; line-height: 1.22; letter-spacing: -0.36px; color: var(--midnight-color); }
.financial-qlinks li > a.active{background-color: var(--midnight-color); color: var(--white);}
.financial-qlinks li > a:hover{background-color: var(--midnight-color); color: var(--white);}

.financial-row{display: none;}
.financial-row.current-q{display: block;}
.financial-list{background-color: var(--white); margin-bottom: 24px; padding: 14px 16px 15px 24px; border-left: solid 1px var(--electric-color);}
.financial-list:last-child{margin-bottom:0;}
.financial-list-heading h5{margin-bottom: 10px;}
.financial-category-main{margin: 0;}
.financial-category-main li{font-size: 12px; font-weight: 500; line-height: 1.33; letter-spacing: 1.2px; border-left: solid 1px var(--electric-color); padding: 0 11px; text-transform: uppercase; margin-bottom: 0;}
.financial-category-main li:before{display: none;}
.financial-category-main li > a{color: #3c3c46;}
.financial-category-main li > a:hover{color: var(--electric-color);}
.financial-category-main li:first-child{padding-left: 0; border-left: none;}
span.right-arrow{margin-left: 6px; color: var(--white);}

.open-positions-bg{padding: 24px; background-image: url("./images/opens-tabs-bg.svg"); background-repeat: no-repeat; background-size: cover;}
ul.positions-links{margin: 0;}
ul.positions-links > li{margin: 0;}
ul.positions-links > li::before{display: none;}
ul.positions-links > li > a {gap: 20px; padding: 10px 15px; align-items: center; color: var(--midnight-color); background-color: var(--light-gray-color); font-size: 18px; line-height: 22px; letter-spacing: -.36px; font-family: 'Gotham-Medium', sans-serif; }
ul.positions-links > li > a.active, ul.positions-links > li > a:hover{background-color: var(--midnight-color); color: var(--white);}
.positions-icon{flex: 0 0 24px;}
.positions-icon-text{flex: 0 0 calc(100% - 44px);}

/*-- media css starts here --*/
@media screen and (min-width: 1024px) {
    .financial-text{flex: 0 0 352px; margin-right: 80px;}
    .financial-content{flex: 0 0 calc( 100% - 432px);}
    .financial-date{flex: 0 0 180px;}
    .financial-qlinks{flex: 0 0 calc(100% - 180px);}
    .financial-list-btn{flex: 0 0 118px;}
    .financial-list-heading{flex: 0 0 calc(100% - 118px);}

    .open-positions-bg{margin-bottom: 46px;}
    ul.positions-links{gap: 40px;}
    /* ul.positions-links > li{flex: 0 0 calc(25% - 30px);} */
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    ul.positions-links{gap: 40px;}
    ul.positions-links > li{flex: 0 0 calc(33.3333% - 27px);}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .open-positions-bg{padding: 20px; margin-bottom: 40px; background-image: url("./images/opens-bg-mobile.svg");}
    .positions-btn{gap: 20px; padding: 16px; font-size: 20px; line-height: 24px; background-color: var(--midnight-color); color: var(--white); display: flex; cursor: pointer; position: relative; align-items: center;}
    .positions-btn-icon{width: 28px;}
    .positions-btn-text{width: calc(100% - 48px);}
    .positions-btn-icon img{width: 100%; object-fit: cover;}
    .positions-btn::after{width: 24px; height: 24px; right: 16px; top: 50%; transform: translateY(-50%); background: url("./images/down-arrow.svg") no-repeat; background-size: cover; content: ""; display: block; position: absolute;}
    .positions-btn.active::after{background-image: url("./images/up-arrow.svg");}
    ul.positions-links{display: none; padding: 16px; top: calc(100% - 20px); width: calc(100% - 40px); height: auto; position: absolute; background-color: var(--white); box-shadow: 0 2px 1px #D0D0D0; z-index: 2;}
}