/* Banner section */
.events-post-banner-wrap{padding: 32px 0;}
.events-post-banner-main{padding-left: 280px;}
.events-post-banner-point{color: var(--slate-color); padding: 80px 64px; left: 0; top: 50%; transform: translateY(-50%); max-width: 520px; position: absolute;  background-color: var(--white-70); -webkit-backdrop-filter: blur(8px); backdrop-filter: blur(8px); z-index: 1;}
.events-post-banner-point h1{font-size: 40px; line-height: 48px; letter-spacing: -0.8px; margin-bottom: 0;}

span.share-text{margin-bottom: 25px; font-size: 14px; line-height: 22px; letter-spacing: 0.2em; color: var(--midnight-50); text-transform: uppercase; display: block;}

.post-default-content{font-size: 16px; line-height: 32px; color: var(--slate-color);}
.post-default-content p:nth-child(2) span{font-size: 24px; line-height: 36px; margin-bottom: 56px; color: var(--midnight-color); display: block;}
.post-default-content h2:not(.general-product-text h2){padding-left: 16px; position: relative; font-size: 32px; line-height: 40px; letter-spacing: -0.64px;}
.post-default-content h2::before:not(.general-product-text h2){content: ""; display: block; width: 2px; height: 100%; top: 0; left: 0; background-color: var(--electric-color); position: absolute;}
.post-default-content h3:not(.events-newsletter-text h3){padding-left: 16px; position: relative; font-size: 24px; line-height: 28px; letter-spacing: -0.8px;}
.post-default-content h3:not(.events-newsletter-text h3)::before{content: ""; display: block; width: 2px; height: 100%; top: 0; left: 0; background-color: var(--electric-color); position: absolute;}

.events-newsletter-bg{background-image: url("images/newsletter-post-bg.svg"); padding: 80px 0;}
.events-newsletter-main{padding: 60px; background-color: var(--white);} 
.events-post-feature-wrap{padding: 55px 0 80px;}
.events-post-feature-point{font-size: 14px; line-height: 22px; letter-spacing: -0.28px;  color: var(--slate-color); padding: 40px; left: -104px; top: 50%; transform: translateY(-50%); max-width: 335px; position: absolute;  background-color: var(--white-70); -webkit-backdrop-filter: blur(8px); backdrop-filter: blur(8px); z-index: 1;}
.events-post-feature-line{width: 1px; height: 100%; left: 0; top: 50%; transform: translateY(-50%); background-color: var(--electric-color); position: absolute;}

.post-testimonial-wrap{padding: 80px 0;}
.post-testimonial-main{border: 12px solid var(--light-blue);}
.post-testimonial-text{padding: 30px  0 40px 30px;}
.post-testimonial-text blockquote:not(span.optional-text) {font-size: 24px; line-height: 28px; font-style: normal; position: relative; letter-spacing: -0.8px; border-radius: 0; margin: 0; font-family: Gotham-Medium,sans-serif; }
.post-testimonial-desc{font-size: 16px; line-height: 20px; color: var(--dark-color-500);}
.post-testimonial-desc .testimonial-name{margin-bottom: 6px;}
.post-testimonial-image{z-index: 1;}
.post-testimonial-thumb { border: 12px solid var(--white); border-radius: 50%; }
.post-testimonial-img img{border-radius: 50%;}
.post-testimonial-bg{ width: 419px; height: 420px; top: 50%; left: 50%; transform: translate(-50%, -50%); background-image: url("./images/radar-art.svg"); background-repeat: no-repeat; background-position: center; background-size: cover; position: absolute; z-index: -1; }

.events-accordion-wrap{padding: 80px 0;}


/* media starts here */
@media only screen and (min-width: 1024px){
    .post-default-main{padding: 80px 0 104px;}
    .post-default-left{left: -100px; position: absolute;}
    .events-post-banner-left{flex: 0 0 64px}

    .events-newsletter-main{gap: 64px;}
    .events-newsletter-text{flex: 0 0 552px;}
    .events-newsletter-form{flex: 0 0 calc(100% - 616px);}

    .post-testimonial-text { flex: 0 0 50%;}
    .post-testimonial-image {flex: 0 0 50%;}
    .post-testimonial-thumb { width: 274px; height: 273px; margin: 0 auto; display: block; }
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){

}
@media only screen and (max-width: 1023px) and (min-width: 768px){
}
@media only screen and (max-width: 767px) and (min-width: 200px){

}