/* Banner section */
.product-banner-section::after{background-color: var(--light-gray-color); width: 100%; height: calc(100% - 68px); content: ""; position: absolute; top: 0; left: 0; z-index: -1;}

.product-banner-main{padding-top: 14px;}
.product-banner-text{font-size: 20px; line-height: 32px; letter-spacing: -0.4px; font-family: 'Gotham-Book',sans-serif;}
.product-banner-text h1{font-family: 'Gotham-Bold',sanserif;}
.product-banner-thumb img{max-width: 377px;}




/*-- media css starts here --*/
@media only screen and (min-width: 1024px){

body.product-page .short-intro-main{padding: 12px 0 56px;}
body.product-page .big-feature-wrap{padding: 56px 0;}


.product-banner-main{gap: 266px;}
.product-banner-text{flex: 0 0 440px;}
.product-banner-image{flex: 0 0 calc(100% - 716px);}



}