.product-banner-section::after{background-color: var(--light-gray-color); width: 100%; height: calc(100% - 68px); content: ""; position: absolute; top: 0; left: 0; z-index: -1;}
.product-banner-main{padding-top: 14px;}
.product-banner-text{font-size: 20px; line-height: 32px; letter-spacing: -0.4px; font-family: 'Gotham-Book',sans-serif;}
.product-banner-text h1{font-family: 'Gotham-Bold',sanserif;}
.product-banner-thumb img{max-width: 377px;}




/*-- media css starts here --*/
@media only screen and (min-width: 1024px){
    .product-banner-main{gap: 266px;}
    .product-banner-text{flex: 0 0 440px; padding-top: 137px;}
    .product-banner-image{flex: 0 0 calc(100% - 716px);}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .product-banner-main{gap: 150px;}
    .product-banner-text{flex: 0 0 400px; padding-top: 137px;}
    .product-banner-image{flex: 0 0 calc(100% - 550px);}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .product-banner-section::after{height: 100%;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .product-banner-section::after{height: 100%;}
    .product-banner-text h1{font-size: 24px; line-height: 28px; letter-spacing: -0.48px; margin-bottom: 24px; font-family: 'Gotham-Medium',sans-serif;}
    .product-banner-text {font-size: 16px; line-height: 24px; letter-spacing: -0.32px;}
    .product-banner-thumb img{max-width: 329px;}
}