
.solutions-page-section{overflow: hidden; position: relative;}
.solutions-page-section.bg{background-color: var(--light-gray-color);}
.solutions-page-main{padding: 80px 0 0;}
.solutions-repeater-list{padding-bottom: 56px;}
.solutions-xk-shape { width: 515.93px; height: 396.17px; left: -258px; top: 81px; background-image: url('./images/xk-shape.svg'); background-repeat: no-repeat; background-size: contain; position: absolute; z-index: 1; }
.solutions-repeater-text span.optional-text{margin-bottom: 39px;}
.solutions-repeater-text h2{margin-bottom: 42px; font-size: 32px; line-height: 40px;}
.solutions-repeater-text p{margin-bottom: 24px;}
.solutions-repeater-text .button{margin-top: 17px;}

.reverse .solutions-repeater-list{flex-direction: row-reverse;}
.reverse .solutions-xk-shape{ left: auto; right: -258px; }

.solutions-feature-list{padding: 56px 0 0;}
.reverse .solutions-feature-list{flex-direction: row-reverse;}

.trusted-logos-main{padding: 40px 0 56px;}
ul.blog_list{margin: 0;}
.stats-section{background-color: var(--light-gray-color);}
.stats-main{padding: 80px 0 80px;}
.stats-head{margin-bottom: 80px;}
.stats-title{font-size: 18px; line-height: 26px;}
.stats-title h2{margin-bottom: 16px;}
.stats-post-text{padding: 49px 40px 40px; background-color: var(--white);}
.stats-post-text h2{font-size: 32px; line-height: 40px;}
.stats-post-main{margin-bottom: 80px;}
body.page-template-solutions .training-row{margin-bottom: 0;}


/* media css starts here */
@media only screen and (min-width: 768px){
    .trusted-logos-text{order: 1; flex: 0 0 50%;}
    .trusted-logos-row{order: 3; padding-top: 57px;}
    .trusted-logos-btn{order: 2; flex: 0 0 50%; text-align: right;}
}
@media only screen and (min-width: 1024px){
    .reverse .solutions-page-main{margin-bottom: -85px;}
    .solutions-repeater-list{gap: 80px;}
    .solutions-repeater-image{flex: 0 0 600px;}
    .solutions-repeater-text{flex: 0 0 calc(100% - 680px);}
    .solutions-feature-list{gap: 80px;}
    .solutions-feature-left{flex: 0 0 375px;}
    .solutions-feature-image{flex: 0 0 calc(100% - 455px);}
    .solutions-feature-text{margin-bottom: 39px;}
    .solutions-feature-mobile img{max-height: 421px; object-position: 0% 0%; -o-object-position: 0% 0%;}

    .trusted-logos-row{gap: 20px 96px;}
    .trusted-logos-list{flex: 0 0 calc(20% - 77px);}
    .trusted-logos-btn{margin-top: -8px;}

    .stats-head{gap: 80px 194px;}
    .stats-title{flex: 0 0 calc(100% - 444px);}
    .stats-btn{flex: 0 0 250px; text-align: right;}
    .stats-post-main{flex-wrap: nowrap;}
    .stats-post-image{flex: 0 0 680px;}
    .stats-post-text{flex: 0 0 calc(100% - 680px); min-width: 680px; transform: translateX(-80px);}
}
@media only screen and (max-width: 1299px) and (min-width: 1024px){
    .trusted-logos-row{gap: 30px;}
    .trusted-logos-list {flex: 0 0 calc(20% - 26px);}
    
    .solutions-repeater-list{gap: 40px;}
    .solutions-repeater-image{flex: 0 0 480px;}
    .solutions-repeater-text{flex: 0 0 calc(100% - 520px);}
    .solutions-xk-shape{left: -260px; top: 40px;}

    .stats-post-image{flex: 0 0 580px;}
    .stats-post-text{flex: 0 0 calc(100% - 580px); min-width: 580px; transform: translateX(-196px);}
    .stats-post-text h2 {font-size: 28px; line-height: 32px;}
}
@media only screen and (max-width: 1023px) and (min-width: 768px){
    .trusted-logos-row{gap: 40px 20px;}
    .trusted-logos-list{flex: 0 0 calc(25% - 20px);}
    .solutions-repeater-image.pos-relative {margin-bottom: 40px;}
    .solutions-feature-mobile {margin: 40px 0;}
    .solutions-feature-image{margin : 40px 0;}
    .stats-btn {margin-top: 40px;}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
    .trusted-logos-main{padding: 40px 0; display: block;}
    .trusted-logos-text{padding-bottom: 18px;}
    .trusted-logos-text span.optional-text.black{padding-right: 90px;}
    .trusted-logos-row{gap: 8px 48px; margin-bottom: 40px;}
    .trusted-logos-list{flex: 0 0 calc(50% - 24px);}

     .solutions-page-main{padding: 40px 0 0;} 
    .solutions-repeater-image{margin-bottom: 40px;}

    .solutions-xk-shape{ width: 310.93px; height: 383.17px; left: -157px; top: 41px;}

    .solutions-repeater-text{font-size: 14px; line-height: 22px; letter-spacing: -0.28px;}
    .solutions-repeater-text h2{font-size: 24px; line-height: 28px; letter-spacing: -0.48px; margin-bottom: 24px;}
    .solutions-repeater-text .button{width: 100%; margin-top: 0;}
    .solutions-repeater-text span.optional-text {margin-bottom: 24px;}
    .solutions-repeater-list {padding-bottom: 40px;}

    .solutions-feature-list{padding: 40px 0 0;}
    .solutions-feature-mobile{margin-bottom: 40px;}
    .solutions-feature-text{margin-bottom: 40px; font-size: 14px; line-height: 22px; letter-spacing: -0.28px;}
    .reverse .solutions-feature-list {flex-direction: column-reverse;}
    .reverse .solutions-repeater-list {padding: 40px 0;}
    .reverse .solutions-feature-list {padding: 20px 0 0px;}
    .reverse .solutions-feature-image{margin-bottom: 80px;}
    .reverse .solutions-xk-shape {left: auto; right: -156px;}

    .stats-main {padding: 40px 0 0;}
    .stats-head{margin-bottom:64px;}
    .stats-title h2{font-size: 24px; line-height: 28px; letter-spacing: -0.48px;}
    .stats-btn{margin-top: 40px;}
    .stats-post-text {padding: 20px; max-width: 295px; margin: 0 auto; margin-top: -30px; position: relative;}
    .stats-post-text h2{font-size: 24px; line-height: 28px; letter-spacing: -0.48px;}
    .stats-post-main {margin-bottom: 64px;}
}



















